/* Media Queries */

@media screen and (min-width: 45em) {
  .navbar {
    position: fixed;
  }
}

@media screen and (max-width: 44em) {
  body {
    display: grid;
    grid-template-columns: 1fr;
  }

  .heading-primary {
    font-size: 8rem;
  }

  .heading-secondary {
    font-size: 5rem;
  }

  .programmer-heading {
    font-size: 7rem;
  }

  .descriptions {
    font-size: 1.6rem;
  }

  .projects {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .logo {
    width: 50%;
  }

  .navbar {
    padding: 2rem;
    background-color: #ced4da;
    font-weight: 500;
    z-index: 2;
    opacity: calc(0.8);
  }

  .nav-link {
    font-size: 2.8rem;
  }

  .heading-resume {
    font-size: 7rem;
  }
}
