/* Header & Headings */
.header {
  display: flex;
  flex-direction: column;
  background-color: #051422;
  padding-bottom: 4rem;
  /* align-items: center; */
}
.heading-primary {
  font-size: 12rem;
  letter-spacing: 0.75px;
  padding: 10rem 0 6rem 0;
  color: #ced4da;
}

.heading-secondary {
  font-size: 6rem;
  letter-spacing: 0.75px;
  padding: 10rem 0 4rem 0;
  color: #838f99;
  display: block;
}

.programmer-heading {
  font-family: 'Sacramento', cursive;
  font-size: 8rem;
  font-weight: 400;
  padding-bottom: 6rem;
  color: #ced4da;
}

.underlined {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.logo-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 20vw;
  border: solid 2px #ced4da;
  box-shadow: 0 0 10px 3px rgba(206, 212, 218, 0.25);
  border-radius: 50%;
}

/* Navbar */

.navbar {
  padding: 2rem;
  background-color: #ced4da;
  font-weight: 500;
  z-index: 2;
  opacity: calc(0.8);
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
}

.navbar-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.nav-link:link,
.nav-link:visited {
  color: #0c3256;
}

.nav-link:hover,
.nav-link:active {
  color: #e8f0f7;
  transition: all 0.2s;
}

/* Description */
.section-description {
  background-color: #051422;
  padding-bottom: 12.8rem;
}

.description-container {
  max-width: 60rem;
  margin: 0 auto;
}
.description {
  font-size: 2rem;
  color: #ced4da;
  line-height: 1.6;
}

.description:first-child {
  padding-bottom: 2rem;
}

/* Web Projects Section */
.section-projects,
.section-skills,
.section-work,
.section-education,
.section-recent-projects {
  background-color: #051422;
  padding-bottom: 9.6rem;
}

.line {
  max-width: 40rem;
  padding: 0 20rem;
  border-bottom: 2px solid #838f99;
  margin: 0 auto;
}

.descriptions {
  /* text-align: center; */
  font-size: 1.4rem;
  line-height: 1.6;
  padding-top: 6rem;
  color: #1098ad;
}

.paragraph-container {
  display: flex;
  max-width: 60rem;
  margin: 0 auto;
  justify-content: center;
}

.project-names {
  display: flex;
  font-size: 1.6rem;
  color: #1098ad;
  justify-content: center;
  align-items: center;
}

.projects {
  padding-top: 9.6rem;
  justify-content: center;
  gap: 6rem;
}

.web-img {
  height: 20rem;
  width: 32rem;
  border-radius: 4rem;
  transition: all 0.3s;
}

.web-img:hover,
.web-img:active {
  filter: brightness(0.8);
  transform: scale(1.2);
  transition: all 0.3s;
}

/* Python Section */
.gif-static {
  position: absolute;
}

.gif-static:hover {
  display: none;
}

.gif-active:hover {
  filter: brightness(0.8);
  transform: scale(1.2);
  transition: all 0.3s;
}

/* Skills Section */
.skills-container {
  width: 60rem;
  margin: 0 auto;
  padding-top: 6rem;
  align-items: center;
  justify-content: left;
}

.skills-container ul {
  list-style: none;
}
.resume-list {
  list-style: none;
}

.resume-center {
  display: flex;
  justify-content: center;
}

.skills-item {
  display: flex;
  font-size: 1.6rem;
  color: #1098ad;
  gap: 1.4rem;
  align-items: center;
  margin-top: 1.2rem;
}

.resume-item {
  display: flex;
  justify-self: center;
  font-size: 1.6rem;
  color: #ced4da;
}

/* About Section */
#about {
  padding-bottom: 9.6rem;
}

/* Footer */

.footer {
  background-color: #051422;
  padding: 9.6rem 0;
}
.email-box {
  font-size: 1.6rem;
  justify-content: center;
  padding-bottom: 4.8rem;
}

.email:link,
.email:visited {
  text-decoration: none;
  color: #1098ad;
}

.email:hover,
.email:active {
  transition: all 0.2s;
  color: #58b7c6;
  text-decoration: underline;
}

.self-prom {
  justify-content: center;
  gap: 1.2rem;
}

.up-box {
  justify-content: center;
}

.icons,
.icons:link {
  font-size: 3.6rem;
  color: #ced4da;
}

.icons:hover,
.icons:active {
  color: #fff;
  transition: all 0.2s;
}

.fa-arrow-up {
  font-size: 3.6rem;
  /* border: #ced4da solid 3px; */
  padding: 2.5rem;
  border-radius: 50%;
}

.fa-arrow-up:hover,
.fa-arrow-up:active {
  /* border: #fff solid 3px; */
  transition: all 0.2s;
}

.attribution-overall {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 1.2rem;
}

.attribution-header {
  font-size: 1rem;
}

.attributions {
  gap: 1.2rem;
  font-size: 0.8rem;
  justify-content: center;
}

.attribute-link:link,
.attribute-link:visited {
  color: #333;
  text-decoration: none;
}

.attribute-link:hover,
.attribute-link:active {
  color: #838f99;
}

.copyright-box {
  padding-top: 2rem;
  max-width: 60rem;
  margin: 0 auto;
  justify-content: center;
}

.copyright-box {
  font-size: 0.8rem;
}

/* Resume Section */

.heading-resume {
  font-size: 6rem;
  padding-top: 12rem;
  color: #838f99;
}

.resume-container {
  max-width: 60rem;
  margin: 0 auto;
  padding-top: 6rem;
}

.resume-item {
  padding-bottom: 2rem;
  font-size: 1.8rem;
  /* font-weight: 400; */
}

.resume-link {
  transition: all 0.2s;
}

.resume-link:link,
.resume-link:visited {
  text-decoration: none;
  color: #1098ad;
}

.resume-link:hover,
.resume-link:active {
  color: #0c3256;
  text-decoration: underline;
}

/* Media Queries */
@media screen and (max-width: 700px) {
  .projects {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navbar {
    padding: 2rem;
    background-color: #ced4da;
    font-weight: 500;
    z-index: 2;
    opacity: calc(0.8);
  }
}

@media screen and (min-width: 701px) {
  .navbar {
    width: 100vw;
    position: fixed;
  }

  .resume-container {
    display: flex;
    justify-content: left;
    width: 60rem;
  }
}

/* Text Styles */

.font-bold {
  font-weight: bold;
  color: #6d849a;
}

.font-italic {
  font-style: italic;
}
